@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

.main {
    background-image: url("Assets/Images/bg.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 70vh;
    overflow: hidden;




}

.main.box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;

}

nav {
    padding-top: 10px;
    display: flex;
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    align-content: center;
    height: 62px;

}

nav img {
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;

}

a {
    color: white;
}

body {
    background-color: black;
}

.hero {
    margin-top: 30px;

    font-family: "Martel Sans", sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :first-child {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;

}

.hero> :nth-child(3) {
    font-weight: 200;
    font-size: 20px;
    text-align: center;

}

.sepration {
    height: 11px;
    background-color: rgb(48, 47, 47);
    margin-top: -106px;
}

.btn {
    padding: 3px 8px;
    font-weight: 600;
    color: white;
    background-color: rgba(105, 105, 105, 0.021);
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px;

}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.btn-red-sm {
    background-color: red;
    border-color: red;
    color: white;

}

.btn-red {
    background-color: red;
    border-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: bold;
}

.main input {
    color: white;
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246,238,238,0.5);

}

.heading1{
    color: white;
    margin-left: 50px;
}

.netflix-image{
      width: 275px;
     height: 440px;
     margin-left: 100px;
 
}

.netflix{
    display: inline-block;
}

.sepration2{
     height: 4px;
    background-color: rgb(48, 47, 47);
    margin-top: -3px;
}
.faq h2 {
    text-align: center;
    color: white;
}
.faq {
        background-color: black;
    color: white;
    padding: 34px
}
.faqbox {
    display: flex;
    justify-content: space-between;
    background-color: rgba(90, 90, 90, 0.267);
    padding: 34px;
    max-width: 40vw;
    margin: 12px auto;
    font-weight: bold; 
    transition: all is ease out;  
    
 }
 .faqbox :hover {
    
    background-color: rgba(196, 196, 196, 0.808);

 }
 .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    cursor: pointer;
    margin-left: 50px;
    font-size: 16px;
    font-weight: bold;
    
    
 }

 .footer-item{
    display: flex;
    flex-direction: column;
 }

 .heading2{
    color: white;
    margin-left: 50px;
 }






